body {
    background-color: #ffc1c1; /* Pastel red */
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow for cards */
    overflow: hidden; /* Ensure the enlarged image doesn't overflow the card */
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px; /* Smaller images */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow for images */
    margin-top: 10px; /* Move image down inside the card */
    transition: transform 0.3s ease; /* Smooth transition for scaling effect */
}

.card-img-top:hover {
    transform: scale(1.1); /* Enlarge image on hover */
}

.card-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.card-text a {
    color: #007bff;
    text-decoration: none;
}

.card-text a:hover {
    text-decoration: underline;
}

#how-to-order {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.star-rating {
    color: #f8c900;
    margin-bottom: 10px;
}
